<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
    <link th:href="@{/css/errorstyle.css}" rel="stylesheet">
</head>
<body>

<h2>ОШИБКА</h2>
<div class="paper">
    <div class="paper-content">
        <p class="cent">Запрашиваемая вами страница не существует.</p>
        <br>
        <p class="cent">Пожалуйста, вернитесь обратно.</p>
        <br>

    </div>
</div>

<footer>
    <a href="javascript:history.back()" class="button">Назад</a>
</footer>

</body>
</html>