* {
  margin: 0;
  padding: 0;
}

.sect {
   background: cornsilk;
   margin-top: 20px;
   box-sizing: border-box;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   padding-top: 25px;
   padding-bottom: 26px;
   grid-row-gap: 2em;
   border-radius: 20px;
   padding-left: 20px;
}

.first {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

h3 {
    text-align: center;
}

.inp {
    height: 20px;
    width: 100px;
    margin-top: 35px;
}

.tab {
    margin-top: 30px;
}

td {
    padding-left: 20px;
    padding-top: 6px;
}

.button {
   width: 100px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   padding: 0 22px;
   background: green;
   color: white;
   text-transform: uppercase;
   line-height: 45px;
   border-radius: 40px;
   margin-top: 15px;
   margin-bottom: 38px;
}

.button:hover {
   background: #fc5a5a;
}

.back {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.enter {
    height: 40px;
    width: 80%;
    margin-left: 15px;
    margin-top: 70px;
    border-radius: 40px;
    background-color: rgba(78, 94, 114, 0.9);
    color: white;
    font-size: 1rem;
    transition: background-color 0.2s;
    background: darkslategray;
    border: none;
}

.enter:hover {
   background: blueviolet;
}

.main {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.name {
    padding-right: 30px;
}

.ids {
    padding-left: 5px;
}

html {
  background: url(/css/background/delback.jpg) no-repeat center center fixed;
  background-size: cover;
}