.it {
   width: 200px;
   text-align: center;
   margin: 0 auto;
}

.item {
   width: 380px;
   text-align: center;
   margin: 0 auto;
   border-bottom: 2px solid #F5F5F5;
   background: white;
   font-family: "Open Sans";
}

.item:hover {
   border-bottom: 2px solid #fc5a5a;
}

.item img {
   display: block;
   width: 100%;
   height: 285px;
}

.item-info {
   background: lightyellow;
   padding: 15px 0;
   padding-bottom: 20px;
}

.item-info h3 {
   font-size: 22px;
   font-weight: 500;
   color: #444444;
   margin: 0 0 10px 0;
}

.button {
   text-decoration: none;
   display: inline-block;
   padding: 0 22px;
   background: grey;
   color: white;
   text-transform: uppercase;
   line-height: 28px;
   border-radius: 40px;
   margin-top: 10px;
   margin-bottom: 8px;
}

.button2 {
   width: 120px;
   text-align: center;
   margin-left: 10px;
   text-decoration: none;
   display: inline-block;
   padding: 0 12px;
   background: green;
   color: white;
   text-transform: uppercase;
   font-size: 12px;
   line-height: 28px;
   border-radius: 40px;
   font-family: sans-serif;
}

.button2:hover {
   background: red;
}

.out {
   height: 28px;
   width: 144px;
   text-align: center;
   margin-left: 10px;
   display: inline-block;
   padding: 0 12px;
   background: green;
   color: white;
   text-transform: uppercase;
   font-size: 12px;
   line-height: 28px;
   border-radius: 40px;
   border: none;
}

.out:hover {
   background: red;
}

.item:hover .button {
   background: #fc5a5a;
}

.item:hover .button2 {
   background: #fc5a5a;
}

.content {
   box-sizing: border-box;
   display: grid;
   gap: 18px;
   grid-template-columns: repeat(3, 1fr);
   padding-top: 25px;
   padding-bottom: 26px;
   grid-row-gap: 2em;
}

.header {
   display: grid;
   gap: 18px;
   grid-template-columns: repeat(5, 1fr);
}

.header img {
   display: block;
   width: 100%;
   height: 120px;
}

.itfirst {
   width: 120px;
   text-align: center;
   margin: 0 auto;
}

.center {
    display: flex;
    justify-content: center;
    text-align:center;
    font-family: sans-serif;
}

.sortrule {
    font-size: 16px;
    font-weight: 500;
    color: #444444;
    margin: 0 0 10px 0;
    font-family: "Open Sans";
}

.userinfo {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 24px;
    width: 160px;
    height: 25px;
    border-radius: 40px;
    background: darkgrey;
}

.sortchoice {
    display: inline-block;
    text-align: center;
    width: 160px;
    line-height: 27px;
    border-radius: 40px;
    background: darkgrey;
}

.sorting {
    margin-top: 10px;
    margin-left: 25px;
}

html {
    background: lavender;
}
