<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Галерея</title>
    <link th:href="@{/css/gallerystyle.css}" rel="stylesheet">
</head>
<body>

<section class="all">
    <div th:each="i : ${#numbers.sequence(1, 10)}">
        <a target="_blank" th:href="@{${arena.galleryURL} + ${i} + '.jpg'}">
            <img class="item" th:src="${arena.galleryURL} + ${i} + '.jpg'" alt="Изображение отсутствует"/>
        </a>
    </div>
</section>

<div class="back">
    <a href="javascript:history.back()" class="button">Назад</a>
</div>

</body>
</html>