<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
    <link th:href="@{/css/userpagestyle.css}" rel="stylesheet">
</head>
<body>

<h1 class="center">КОНТИНЕНТАЛЬНАЯ ХОККЕЙНАЯ ЛИГА</h1>

<div class="header">
    <div class="itfirst"><img class="itfirst" th:src="@{/img/logo.png}" alt="Лого"/></div>
    <div class="it"><img class="flag" th:src="@{/img/russia.jpg}" alt="Флаг"/></div>
    <div class="it"><img class="flag" th:src="@{/img/belarus.jpg}" alt="Флаг"/></div>
    <div class="it"><img class="flag" th:src="@{/img/kazakhstan.jpg}" alt="Флаг"/></div>
    <div class="it"><img class="flag" th:src="@{/img/china.jpg}" alt="Флаг"/></div>
</div>

<h1 class="center">ВСЕ АРЕНЫ:</h1>

<div class="sorting">
    <span class="sortchoice" th:style="'font-weight: bold;'" th:text="'Пользователь: ' + ${username}"></span>&nbsp;
    <form th:action="@{/logout}" method="post" style="display: inline;">
        <button class="out" type="submit">Выйти</button>
    </form>
    <a href="../../user-profile/sendmessage" class="button3">техподдержка</a>&nbsp;&nbsp;&nbsp;
</div>

<div class="sorting">
    <span class="sortchoice"><b>Сортировать по:</b></span>&nbsp;
    <a href="../../user-profile/sortedbycapacity" class="button2">вместимости</a>&nbsp;&nbsp;&nbsp;
    <a href="../../user-profile/sortedbyentryyear" class="button2">новизне</a>&nbsp;&nbsp;&nbsp;
    <a href="../../user-profile/sortedbyattendance" class="button2">посещаемости</a>&nbsp;&nbsp;&nbsp;
    <a href="../../user-profile/sortedbyfillpercentage" class="button2">заполняемости</a>&nbsp;&nbsp;&nbsp;
    <a href="../../user-profile/sortedbyrevenue" class="button2">доходности</a>&nbsp;&nbsp;&nbsp;
    <a href="../../user-profile" class="button2">сброс</a>
</div>

<div class="compare">
    <span class="sortchoice" th:style="'font-weight: bold;'" th:text="Сравнение + ':'"></span>&nbsp;

        <form class="selection" action="/compare" method="get">
            <p>

                <select class="choice" name="choice1" width=300 style="width: 350px">
                    <option value="">-- Выберите первую арену --</option>
                    <tr th:each="a: ${arenas}">
                        <option th:value="${a.id}" th:text="${a.name}"</option>
                    </tr>
                </select>

                <select class="choice" name="choice2" width=300 style="width: 350px">
                    <option value="">-- Выберите вторую арену --</option>
                    <tr th:each="a: ${arenas}">
                        <option th:value="${a.id}" th:text="${a.name}"</option>
                    </tr>
                </select>

                    <input class="sub" type="submit" value="Сравнить">
            </p>
        </form>

</div>

<div class="content">
    <tr th:each="a, aStat: ${arenas}">
        <div class="item">
            <img class="preview" th:src="${a.galleryURL} + '1.jpg'" alt="Изображение отсутствует"/>
            <div class="item-info">
                <h3 th:text="${aStat.count}"></h3>
                <h3 th:text="${a.name}"></h3>

                <div th:switch="${sortingrule}">
                    <p class="sortrule" th:case="'capacity'"
                       th:text="'Вместимость: ' + ${#numbers.formatDecimal(a.capacity, 0, 'WHITESPACE', 0, 'POINT')} + ' чел.'"</p>
                    <p class="sortrule" th:case="'entryyear'" th:text="'Год ввода: ' + ${a.entryYear}"</p>
                    <p class="sortrule" th:case="'attendance'"
                       th:text="'Посещаемость: ' + ${#numbers.formatDecimal(a.attendance, 0, 'WHITESPACE', 0, 'POINT')} + ' чел.'"</p>
                    <p class="sortrule" th:case="'fillpercentage'"
                       th:text="'Заполняемость: ' + ${a.fillPercentage} + '%'"</p>
                    <p class="sortrule" th:case="'revenue'"
                       th:text="'Доходность: ' + ${#numbers.formatDecimal(a.revenue, 0, 'WHITESPACE', 0, 'POINT')} + ' руб.'"</p>
                    <p class="sortrule" th:case="'service'" th:text="'Услуги: ' + ${a.activitiesId}"</p>
                </div>

                <a th:href="@{../../arena/{id}(id=${a.id})}" class="button">Смотреть</a>
            </div>
        </div>
    </tr>
</div>

</body>
</html>